@font-face {
  font-family: Avenir;
  src:url(../fuentes/AvenirLTStd-Book.otf);
}
@font-face {
  font-family: SunValley;
  src:url(../fuentes/Sun Valley - Demo.ttf);
}


/* index */
.logo2{
	margin-left: 40%;
}
.avenir{
	font-family: Avenir;
	font-size: 38px;
	color: black;
}
.caja-combina{
	margin-left: 20%;
	margin-top: 30%;
}
.combina{
font-family: Avenir;
font-size: 25px;
color: black;
}
.sun-1{
font-family: SunValley;
color: #F5C89C;
font-size: 40px;
margin-left: 10%;
margin-top: -5%;
font-weight:normal;
}
.avenir-2{
	font-family: Avenir;
	font-size: 42px;
	color: black;
	margin-left: 25%;
}
.parrafo{
	width: 85%;
	margin-left: 20%;
	margin-top: 5%;
}
.contenido-1{
width: 90%;
font-size: 18px;
font-family: Avenir;
color: black;
margin-top: -1%;

}


.caja-slider{
	margin-top: -2%;
}
.img-slider{
width: 100%;
}
.seccion-1 {
	margin-top: 7%;
}

.img-cuadro_1{
	width: 80%;om
}

/* seccion-2 */
.seccion-2{
margin-top: 3%;
}
.img-cuadro_2{
	width: 50%;
	margin-top: -7%;
	margin-left: 10%;

}
.img-cuadro_3{
	width: 30%;
}
/* seccion-3 */
.seccion-3{
 position: relative;

}
.img-mancha{
 width: 100%;
 display: block;
}

.texto-titulo{
	position: absolute;
	color: white;
  top: 40%;
	left: 15%;
	right: 0;
	width: 23%;
	font-size: 70px;
	font-family: SunValley;
}
.texto-centro{
	position: absolute;
	color: black;
  top: 53%;
	left: 16%;
	right: 0;
	width: 33%;
	font-size: 23px;
}
.texto-descripcion{
	position: absolute;
	color: black;
  top: 58%;
	left: 16%;
	right: 0;
	width: 25%;
	font-size: 15px;
	font-family: Avenir;
}
.logo-ftd{
	position: absolute;
	color: black;
  top: 55%;
	/* left: 0; */
	right: 25%;
	width: 13%;
}

/* seccion-4 */
.caja-texto-4{
	text-align: center;
	margin-top: 5%;
}
.y{

	margin-top: -3%;
	font-size: 58px;
	margin-left: 1%;
	font-family: SunValley;
	color: #F5C89C;

}
.artificiales{
	padding-left: 20%;
	margin-top: -4%;
}
.fondo-seccion-4{
	width: 50%;
	float: left;
	position: relative;
}
.florero-1{
	width: 20%;
	position: absolute;
	margin-top: 15%;
	left: 10%;
	right: 0;

}
.florero-2{
	width: 30%;
	position: absolute;
	margin-top: 15%;
	right: 12%;

}
.btn-tienda{
	width: 15%;
	position: absolute;
	margin-top: 55%;
	margin-left: -5%;
	border: 1px solid #00000069;
}

/* seccion-5 */
.contc-descripcion{

	text-align: center;
	padding-left: 30%;
	padding-right: 30%;
	text-align: left;
}

.form{
margin-top: 6%;
}
.caja-input{
}
.caja-input input{
	border: 0;
	border-bottom: 1px solid #ccc;
	width: 60%;
	margin-top: 6%;
	margin-left: 30%;

}
.caja-textarea{
	margin-top: 2%;
}
.caja-textarea textarea{
	border: 1px solid #0000002b;
}
.btn-enviar{
	width: 62%;
	border: 1px solid #0000002b;
	background: #F5C89C;
	color: white;
}

/* Footer */
footer{
	position: relative;
}

footer img{
	width: 100%;
}
footer div{
	position: absolute;
  top: 3%;
	width: 100%;
	font-size: 13px;
	margin-top: 10%;
}
footer div .uno{
 margin-left: 30%;
}


.icon img{
	width: 4%;
	margin-top: -10%;
  margin-left: 1%;

}

.angles{
	margin-top: 2%;
}
.angles img{
	width:10%;
}

/* Pagina detalle */
.detalle{
width: 50%;
margin-left: auto;
margin-right: auto;
display: block;

margin-top: 10%;
}
.img-detalle{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: block;

}
.nombre-producto{
	font-size: 18px;
	margin-top: 1%;
	text-align: center;
}
.precio{
	font-size: 18px;
	margin-top: 0%;
	text-align: center;
}
.caja-cuerpo{
	margin-top: 6%;
}
.seccion-a{

}
.cantidad{

	width: 35%;
	margin-left: auto;
	margin-right: auto;

}
.cantidad input{
	width: 15%;
	margin-left: 10%;

}
.agregar{
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	margin-top: 5%;
}
.agregar button{
	background: #F5C89C;
	color: white;
	border: 0;
	padding: 3%;
	width: 90%;
}
.seccion-b p {

	width: 70%;
}


/* Estilos para pagina crear productos */
.caja-descripcion{
	width: 100%;
	word-wrap: break-word;
	text-align: left;
}


/* Estilos de la tienda */
.img-header{
	width: 100%;
	position: relative;
}
.img-categorias{
	width: 70%;
	margin: 8%;
}
.caja-categorias{
	margin-top: -10%;
	width: 100%;
	margin-left: 2%;
}
.caja-text-categoria{
	border: 1px solid #F5C89C;
	width: 70%;
	margin: 8%;
	margin-top: -8%;
}
.caja-text-producto{
	border: 1px solid #F5C89C;
	width: 75%;
	margin: 5%;
	margin-top: -5%;
}

.text-categoria{
	text-align: center;
	margin-top: 5%;
	color: #F5C89C;
}
/* Seccion productos */
.titulo-productos{
 text-align: center;

 font-size: 28px;
 font-family: Avenir;
color:#BE965F;

}

.titulo-subcategoria{
  font-size: 14px;
  font-family: Avenir;
 color:#BE965F;
}
.caja-productos{
	margin-top: 10%;
}
.img-productos{
	width: 75%;
	margin: 5%;
}

.menu ul{
	list-style: none;
}
.menu li{
	margin-top: 4%;

}
