@font-face {
  font-family: Avenir;
  src:url(../fuentes/AvenirLTStd-Book.otf);
}
@font-face {
  font-family: SunValley;
  src:url(../fuentes/Sun-Valley-Demo.woff);
}
@font-face {
  font-family: GothamMedium;
  src:url(../fuentes/Gotham-Medium.otf);
}

/* index */
.logo2{
  margin-left: auto;
  margin-right: auto;
  display: block;

}

.parallax{
  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.avenir{
	font-family: SunValley;
	font-size: 58px;
	color: black;
}
.combina{
font-family: Avenir;
font-size: 35px;
color: black;
}
.sun-1{
font-family: SunValley;
color: #F5C89C;
font-size: 50px;
margin-left: 10%;
margin-top: -5%;
font-weight:normal;
}
.avenir-2{
	font-family: Avenir;
	font-size: 42px;
	color: black;
	margin-left: 25%;
}
.parrafo{
	width: 100%;
	margin-left: 0%;
	margin-top: 5%;
}
.contenido-1{
width: 90%;
font-size: 18px;
font-family: Avenir;
color: black;
margin-top: -1%;
text-align: justify;
}

.contenedor{
}

.caja-slider{
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: -2%;

}

.caja-slider h1{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: SunValley;
  font-size: 12vw;
  width: 100%;

}
.caja-slider p{
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: GothamMedium;
  font-size: 31px;
}
.caja-slider button{
  text-align: center;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Avenir;
  background-color: #ffffff10;
  color:white;
  font-family: GothamMedium;
  font-size: 18px;
  width: 15%;
}
.img-slider{
width: 100%;
}
.seccion-1 {
	margin-top: 7%;
}

.img-cuadro_1{
	width: 90%;
}

/* seccion-2 */
.seccion-2{
   margin-top: -8%;
}

.caja-combina{
	margin-top: 60%;
  margin-left: 0%;
}
.img-cuadro_2{
  width: 100%;
}
.img-cuadro_3{
  margin-top: 30%;
	width: 100%;
}
/* seccion-3 */
.seccion-3{
  width: 100%;
  display: block;
  position: relative;
  display: block;
}
.img-mancha{
 width: 100%;
}

.caja-contenido-seccion3{
    display: block;
    position: absolute;
    bottom: 16px;
    top: 36%;
    left: 0;
    padding: 5px;
    width: 98%;
}

.texto-titulo{
	color: white;
	font-size: 70px;
	font-family: SunValley;
  margin-left: 27%;
  line-height: 0.8;
  margin-top: 10%;
}
.texto-centro{
	color: black;
	font-size: 23px;
  font-family: Avenir;
  margin-left:30%;
}
.texto-descripcion{
	color: black;
	font-size: 15px;
	font-family: Avenir;
  margin-left:30%;
}

.logo-ftd{
	color: black;
  margin-top: 10%;
  width: 32%;
}

/* seccion-4 */

.seccion-4 {

}


.caja-texto-4{
	margin-top: 5%;
  width: 100%;
}

.f-naturales{
  font-size: 26px;
  text-align: center;
  width: 100%;
  font-family: Avenir;
}
.y{
	margin-top: -3%;
	font-size: 58px;
	margin-left: 1%;
	font-family: SunValley;
	color: #F5C89C;
}
.artificiales{
	padding-left: 20%;
	margin-top: -4%;
  font-family: Avenir;
  font-size: 26px;
}

.caja-imagen-seccion4{
  position: relative;
  width: 101%;
  margin: auto;
}
.fondo-seccion-4{
	width: 50%;
}
.florero-1{
	width: 20%;
  position: absolute;
  left: 10%;
  top: 20%;

}
.florero-2{
  top: 11.5%;
	width: 30%;
  position: absolute;
}

.btn-tienda{
  position: absolute;
	width: 15%;
	border: 1px solid #00000069;
  top: 80%;
  text-align: center;
  left: 44%;
}

/* seccion-5 */
.seccion-5{
  width: 100%;
  margin-top: 10%;
  position: relative;
}
.caja-form-contacto{
  position: absolute;
  top: 10%;
  width: 100%;
  margin-top: 2%;

}

.contactanos{
  font-family:Avenir;
  font-size: 33px;
  padding: 2px 30% 2px;
  color:#F5C89C;
}

.contc-descripcion{
 width: 50%;
 text-align: left;
 margin:auto;
 margin-top: 0%;
 text-align: center;
 font-size: 21px;
 font-family: Avenir;
}
.contc-descripcion span{
  font-family: SunValley;
  font-size: 41px;
}

.form{
    margin-top: 1%;
    width: 100%;

}
.caja-form{
  width: 100%;
  margin: auto;
}
.caja-input input{
	border: 0;
	border-bottom: 1px solid #ccc;
	width: 60%;
	margin-top: 10%;
	margin-left: 30%;
  background: #00000000;

}
::-webkit-input-placeholder{
  font-family: Avenir;
}
.caja-textarea{

}
.caja-textarea textarea{
  margin-top: 13.5%;
	border: 1px solid #0000002b;
  resize: none;
  width: 70%;
  background: #00000000;
}
.btn-enviar{
	width: 70%;
	border: 1px solid #0000002b;
	background: #F5C89C;
	color: white;
  font-family: Avenir;
  font-size: 18px;
}

/* Footer */
footer{
  width: 100%;
  margin-top: 3%;
  position: relative;

}


footer img{
	width: 100%;
}
footer div{
  position: absolute;
  top: 3%;
	width: 100%;
	font-size: 13px;
	margin-top: 7%;
}
footer div .uno{
 margin-left: 30%;
}


.icon img{
	width: 4%;
	margin-top: -10%;
  margin-left: 1%;

}

.icon img:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
.contenedor {overflow:hidden;}

.angles{
	margin-top: 2%;
}
.angles img{
	width:10%;
}

/* Pagina detalle */
.detalle{
width: 50%;
margin-left: auto;
margin-right: auto;
display: block;

margin-top: 10%;
}
.img-detalle{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: block;

}
.nombre-producto{
	font-size: 18px;
	margin-top: 1%;
	text-align: center;
  color:#F5C89C;
}
.precio{
	font-size: 18px;
	margin-top: 0%;
	text-align: center;
  color:#F5C89C;
}
.caja-cuerpo{
	margin-top: 6%;
}
.seccion-a{

}
.cantidad{

	width: 35%;
	margin-left: auto;
	margin-right: auto;

}
.cantidad input{
	width: 15%;
	margin-left: 10%;

}
.agregar{
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	margin-top: 5%;
}
.agregar button{
	background: #F5C89C;
	color: white;
	border: 0;
	padding: 3%;
	width: 90%;
}
.seccion-b p {

	width: 70%;
}


/* Estilos para pagina crear productos */
.caja-descripcion{
	width: 100%;
	word-wrap: break-word;
	text-align: left;
}


/* Estilos de la tienda */

.caja-img-tienda{
  position: relative;
}
.img-header{
	width: 100%;
}
.img-categorias{
	width: 70%;
	margin: 8%;
  margin-left: 14%;
}
.caja-categorias{
	width: 100%;
  margin: auto;
  margin-top: -10%;
}
.caja-cat{
}
.caja-text-categoria{
	border: 1px solid #F5C89C;
	width: 70%;
	margin: 8%;
	margin-top: -8%;
  margin-left: 14%;
}
.caja-text-producto{
	border: 1px solid #F5C89C;
	width: 75%;
	margin: 5%;
	margin-top: -5%;
}

.text-categoria{
	text-align: center;
	margin-top: 2%;
	color: #F5C89C;
}
/* Seccion productos */
.titulo-productos{
 text-align: center;

 font-size: 28px;
 font-family: Avenir;
color:#BE965F;

}

.titulo-subcategoria{
  font-size: 14px;
  font-family: Avenir;
 color:#BE965F;
}

.img-productos{
	width: 75%;
	margin: 5%;
}

.menu ul{
	list-style: none;
}
.menu li{
	margin-top: 4%;

}

.content-footer{

  margin-top: 15%;
}

@media (max-width: 1200px) {
  .caja-combina{
    margin-top: 30%;
    margin-left: 0%;
  }

  .o-titulo{
    margin-left: 7%;
    margin-top: -5%;

  }
  .texto-centro{

    margin-left: 7%;
    margin-top: 0%;

  }
}

@media (max-width: 1020px) {
  .img-slider{
    margin-top: -2%;
  }
  .logo{
    margin-top: -36% !important;
    margin-left: -5% !important;
  }

  .caja-slider p{
    top: 59% !important;
    margin-top: 2%;
  }
  .caja-slider h1{
    font-size: 82px;
    width: 100%;
  }
  .caja-slider button{
    top: 70%;
    background-color: #00000000;
    color: white;
    width: 40%;
    margin-top: 2%;

  }
  .caja-combina{
    margin-top: 10%;
    margin-left: 0%;
  }
  .img-cuadro_2{
    width: 70%;
    margin-top: 10%;
    text-align: center;
  }
  .sun-1 {
    margin-top: -2%;

  }
  .texto-titulo{
    margin-left: 7%;
    margin-top: -5%;

  }
  .texto-centro{

    margin-left: 7%;
    margin-top: 0%;

  }
  .texto-descripcion{
    display: none;
  }

}


@media (max-width: 760px) {
  .img-slider{
    margin-top: -2%;
  }
  .logo{
    margin-top: -36% !important;
    margin-left: -5% !important;
  }
  .caja-texto_1{


  }
  .logo2{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .caja-slider h1{
    font-size: 72px;
    width: 100%;
  }
  .caja-slider button{
    top: 70%;
    background-color: #00000000;
    color: white;
    width: 50%;
    margin-top: 2%;

  }

  .caja-slider p{
  margin-top: 2%;

  }
  .caja-combina{
  	margin-top: 10%;
    margin-left: 0%;
  }
  .img-cuadro_2{
    width: 70%;
    margin-top: 10%;
    text-align: center;
  }

  .img-cuadro_3{
  	width: 50%;
    margin-top: -2%;

  }
  .texto-titulo{
    margin-left: 7%;
    margin-top: -5%;


  }
  .texto-centro{
    margin-left: 7%;
    margin-top: 0%;

  }
  .texto-descripcion{
    display: none;
  }

  .caja-input input{
    margin-left: auto;
    margin-right: auto;
    display: block;

  }
  .caja-textarea textarea{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .btn-enviar{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  /* Footer */
  .footer-img{
    height: 570px;

  }

  .icon img{
  	width: 8%;
  	margin-top: 0%;
    margin-left: 1%;

  }
  footer{
    margin-top: 73%;
  }
  .angles img{
    width: 20%;
  }

}


@media (max-width: 480px) {
  .img-slider{
    margin-top: -4%;
  }
  .logo{
    margin-top: -40% !important;
    margin-left: -8% !important;
  }
  .logo2{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .avenir{
    font-size: 36px;
    text-align: center;
    width: 100%;
  }
  .contenido-1{
    width: 100%;
    font-size: 15px;

  }
  .img-cuadro_1{
  width: 100%;

  }

  .caja-slider h1{
    font-size: 42px;
    width: 100%;
  }


  .caja-slider p{
    font-size: 15px;
    margin-top: 2%;
  }
  .caja-slider button{
    top: 80%;
    background-color: #00000000;
    color: white;
    width: 70%;
  }

  /* seccion 2 */
  .caja-combina{
  	margin-top: 10%;
    margin-left: 0%;
  }
  .combina-2{
    font-size: 25px;
  }
  .img-cuadro_2{
    width: 100%;
    margin-top: 10%;
    text-align: center;
  }
  .img-cuadro_3{
  	width: 80%;
  }

  /* Seccion 3 */
  .caja-contenido-seccion3{
      width: 100%;

  }

  .texto-titulo{
  	color: white;
  	font-size: 40px;
  	font-family: SunValley;
    margin-left: 7%;
    margin-top: -6%;


  }
  .texto-centro{
  	color: black;
  	font-size: 13px;
    font-family: Avenir;
    margin-left:30%;
    margin-top: -11%;
    margin-left: 7%;
    margin-top: -1%;

  }
  .texto-descripcion{
  	color: black;
  	font-size: 12px;
  	font-family: Avenir;
    margin-left:30%;
    display: none;
  }

  .logo-ftd{
    margin-top: 10%;
    width: 100%;
  }

  /* Seccion 4 */
  .btn-tienda{
  	width: 25%;
    left: 40%;
    top: 84%;
  }
  .f-naturales{
    font-size: 18px;
    text-align: center;
    width: 100%;
  }
  .y{
  	margin-top: -7%;
  	font-size: 38px;
  	margin-left: 1%;
  	font-family: SunValley;
  	color: #F5C89C;
  }
  .artificiales{
  	margin-top: -13%;
    font-size: 18px;
    margin-left: 20%;

  }
  .florero-2{
    left: 61%;
  }

  /* Seccion 5 */

  .contactanos{
    text-align: center;
    font-size: 25px;
    padding: 0%;
  }

  .caja-input input{
  	margin-left: 10%;

  }
  .caja-textarea textarea{
    margin-top: 13.5%;
  	border: 1px solid #0000002b;
    resize: none;
    width: 70%;
    margin-left: 10%;
    height: 100px;
  }

  .btn-enviar{
  	width: 62%;
  	border: 1px solid #0000002b;
  	background: #F5C89C;
  	color: white;
    font-family: Avenir;
    font-size: 18px;
    margin-left: 10%;
  }

  .contc-descripcion{
   width: 100%;

  }

  /* Footer */

  .footer-img{
    height: 473px;
  }

  .icon img{
  	width: 10%;
  	margin-top: 0%;
    margin-left: 1%;

  }

  .angles img{
    width: 28%;
  }

  /* DETALLE */

  .agregar button{
  	background: #F5C89C;
  	color: white;
  	border: 0;
  	padding: 3%;
  	width: 100%;
    font-size: 12px;
  }
  .seccion-b p{
    width: 100%;
    margin: auto;
    padding: 2%;
  }
  .cantidad input{
  	width: 30%;
  	margin-left: 10%;

  }

  /* Footer */
  footer{
    width: 100%;
    margin-top: 93%;
    position: relative;

  }


}
