.active{
  background: red;
}

.highlight {
  color:#fbdec2 !important;

}

.text-categoria-res{
  display: none;
}

.text-categoria2{
  text-align: center;
  margin-top: 2%;
  color: #F5C89C;
  font-size: 14px;

}

.caja-productos{
	margin-top: 10%;
  width: 100%;
}

.text-categoria-res{
  display: block;
  text-align: center;
  margin-top: 2%;
  color: #F5C89C;
  font-size: 14px;

}




@media (max-width: 480px) {
  .highlight {
    color:#fbdec2 !important;

  }

.img-header{
  margin-top: -3%;

}
.img-categorias {
    width: 100%;
    margin: 8%;
    margin-left: 3%;

}
.caja-text-categoria{
	border: 1px solid #F5C89C;
	width: 100%;
	margin: 8%;
	margin-top: -8%;
  margin-left: 3%;
}
  .text-categoria{
  font-size: 8px;
  display: none;

  }
  .text-categoria-res{
    display: block;
    text-align: center;
  	margin-top: 2%;
  	color: #F5C89C;
    font-size: 14px;

  }
  .caja-text-producto{
  	border: 1px solid #F5C89C;
  	width: 100%;
  	margin: 5%;
  	margin-top: -5%;
  }
  .text-categoria2{
    text-align: center;
  	margin-top: 2%;
  	color: #F5C89C;

  }
  .novias{
    height: 32px;
  }
  .novias-text{
    margin-top: 10%;
    font-size: 12px;
  }
  .titulo-subcategoria{
    font-size: 10px;
    font-family: Avenir;
    color:#BE965F;
  }
  .img-productos {
    width: 100%;
    margin: 5%;
}

}
