/* FORMUALRIO FLOTANTE - PARA REGISTRO DE NUEVO ASESOR  */
@font-face {

}

.ventana_flotante_form{
    width: 100%;
    height: 100%;
    color: white;
    position: fixed;
    background-image: url(backgound_flotante.png);
    top: 10%;
    left: 0;
    border: none;
    display: none;
    z-index: 3;
}

.ventana_flotante_form2{
  width: 100%;
  height: 100%;
  color: white;
  position: fixed;
  background-image: url(backgound_flotante.png);
  top: 10%;
  left: 0;
  border: none;
  display: none;
  z-index: 3;

}
.in{
  color: black;
}
.form_registro{
  border: 1px solid #b09f61;
  position: absolute;
  background: #DEB769;
  width: 625px;
  text-align: center;
  padding: 15px 30px 30px 30px;
  border-radius: 15px;
  top: 4%;
  left: 28%;
}

p.titulo_formulario{
    font-family: Avenir;
    font-size: 20px;
    color: white;
    padding-top: 0;
    margin-top: 0;
}

p.cerrar_form{
font-family: Avenir;
font-size: 19px;
color: white;
/*   border: 1px solid red;  */
text-align: right;
font-weight: bold;
margin: 10px 0px 2px 0px;

}

input.input_flotante{
            width: 250px;
            border-radius: 5px;
            border: 1px solid #b09f61;
            height: 28px;
            font-size: 14px;
            padding-left: 9px;
            color: gray;
            margin-top: 3px;

}

input.enviar_flotante{
    background: #b09f61;
    width: 170px;
    border: 0;
    padding: 4px 14px 5px 14px;
    border-radius: 5px;
    font-size: 17px;
    font-family: Avenir;
    color: white;
    margin-bottom: 6px;
    height: 30px;
}

select{
width: 260px;
border: 1px solid #cccccc;
height: 32px;
color: #b09f61;
padding-left: 9px;
border-radius: 5px;
background-color: rgba(18, 18, 19, 0);
}

/* label{
font-family: HelveticaNeueLTStd-Th;
color: gray;
float: left;
padding: 0px 0px 0px 6px;
font-size: 18px;
margin-top: 0%;
} */

.form_titulo{
  padding-top: 11px;
  height: 21px;
}
.form_input{
  border:1px solid yellow;
}

/*______________________________________________________________________*/


@media(max-width: 720px){
    @font-face {
        font-family: HelveticaNeueLTStd-Th;
        src:url(../fuentes/HelveticaNeueLTStd-Th.otf);
      }

      .ventana_flotante_form{
          width: 100%;
          height: 100%;
          color: white;
          position: absolute;
          background-image: url(backgound_flotante.png);
          top: 10%;
          left: 0;
          border: none;
          display: none;

      }

      .ventana_flotante_form2{
        width: 100%;
        height: 100%;
        color: white;
        background-image: url(backgound_flotante.png);
        top: 10%;
        left: 0;
        border: none;
        display: none;
        position: absolute;

      }
      .in{
        color: black;
      }
      .form_registro{
        border: 1px solid #b09f61;
        position: absolute;
        background: #DEB769;
        width: 345px;
        text-align: center;
        padding: 22px 30px 30px 30px;
        border-radius: 15px;
        top: -28%;
        left: 7%;
      }

      p.titulo_formulario{
          font-family: Avenir;
          font-size: 20px;
          color: white;
          padding-top: 0;
          margin-top: -12%;

      }

      p.cerrar_form{
      font-family: Avenir;
      font-size: 19px;
      color: white;
      /*   border: 1px solid red;  */
      text-align: right;
      font-weight: bold;
      margin: 10px 0px 2px 0px;

      }

      input.input_flotante{
                  width: 250px;
                  border-radius: 5px;
                  border: 1px solid #b09f61;
                  height: 28px;
                  font-size: 14px;
                  padding-left: 9px;
                  color: gray;
                  margin-top: 3px;

      }

      input.enviar_flotante{
          background: #b09f61;
          width: 170px;
          border: 0;
          padding: 4px 14px 5px 14px;
          border-radius: 5px;
          font-size: 17px;
          font-family: Avenir;
          color: white;
          margin-bottom: 6px;
          height: 30px;
      }

      select{
      width: 260px;
      border: 1px solid #cccccc;
      height: 32px;
      color: #b09f61;
      padding-left: 9px;
      border-radius: 5px;
      background-color: rgba(18, 18, 19, 0);
      }

      /* label{
      font-family: HelveticaNeueLTStd-Th;
      color: gray;
      float: left;
      padding: 0px 0px 0px 6px;
      font-size: 18px;
      margin-top: 0%;
      } */

      .form_titulo{
        padding-top: 11px;
        height: 21px;
      }
      .form_input{
        border:1px solid yellow;
      }



}
